In [ ]:
#TOPIC: String Based Assignment Problem

In [ ]:
#1. To reverse a string

s1 = "Sanyogita"
s1[8: :-1]

'atigoynaS'

In [ ]:
#2. If string is a palindrome

def check_plain(str):
  for i in range(0, int (len (str)/2)):
    if str [i] != str [len (str) -i-1]:
      return False
    return True
str_1 = input("Enter a string ")
ans = check_plain (str_1)
if(ans):
  print("The string is a palindrome")
else:
  print(print("The string is not a palindrome"))

Enter a string sanyogita
The string is not a palindrome
None

In [ ]:
#3. Converting string to upper case

s2 = "shailesh"
s2.upper()

'SHAILESH'

In [ ]:
 #4. Converting a string to lower case

s3 = "MANAN"
s3.lower()

'manan'

In [ ]:
#5. Counting the number of vowels in a string

string = "Sanyogita Singh"
vowels = "a,e,i,o,u,A,E,I,O,U"

count = sum(string.count(vowel)for vowel in vowels)
print(count)

5

In [ ]:
#6. Counting the number of consonents in a string

str = "python is a good language"
vowels = 'a,e,i,o,u'
result = {v for v in str if v not in vowels}
print(''.join(result))

 hydglsntp

In [ ]:
#7. Removing all whitespaces from string

s3 = "   python is a beautiful language      "
s3.strip()

'python is a beautiful language'

In [ ]:
#8. Find the length of a string

string = 'Hello'

count = 0

for i in string:

  count+=1
  print(count)

1
2
3
4
5

In [ ]:
#9. Checking if string contains a specific word

s4 = "sanyogita"
s4.find('y')

3

In [ ]:
#10. Replacing a word in a string with another words

s5 = "sanyogita"
s5.replace("s","a")

'aanyogita'

In [ ]:
#11. Count the number of occurrence of a word in a string

s6 = "sanyogita"
s6.count("a")

2

In [ ]:
#12. Finding the first occurence of a word in a string

s = "sanyogita"
s[0]

's'

In [ ]:
#13. Findind the last occurence of a word in a string

s = "sanyogita"
s[8]

'a'

In [ ]:
#14. Split a string into a list of words

s = "sanyogita"
list("sanyogita")

['s', 'a', 'n', 'y', 'o', 'g', 'i', 't', 'a']

In [ ]:
#15. Join a list of words into a string

s = "sanyogita"
p = "singh"
print(s+" "+p)

sanyogita singh

In [ ]:
#16. Convert a string where words are seperated by spaces to one where words are separated by underscores

str = "Keep calm and keep confident"
print(str.split(" "))
print("_".join(str.split()))

['Keep', 'calm', 'and', 'keep', 'confident']
Keep_calm_and_keep_confident

In [ ]:
#17.Check if a string starts with a specific word or phase

message = 'Python is fun'

if(message.startswith('Python')):
 print ("True")
else:
  print("False")

True

In [ ]:
#18. Check if a string ends with a specific word or phase

message = 'Python is fun'

if(message.endswith('fun')):
 print("True")
else:
  print("False")

True

In [ ]:
#19. Convert a string to title case

s7 = "i m going to the market"
s7.title()

'I M Going To The Market'

In [ ]:
#20. Find the longest word in a string

str = input("Enter a string: ")
word_list = str.split()
longest_word = max(word_list, key = len)
print("Longest word: ", longest_word)

Enter a string: Be confident and keep going
Longest word:  confident

In [ ]:
#21. Find the shortest word in a string

str = input("Enter a string: ")
word_list = str.split()
shortest_word = min(word_list, key = len)
print("Shorted word: ", shortest_word)

Enter a string Practice is the key to success
Shorted word:  is

In [ ]:
#22. Reverse the order of words in a string

u = " i love programming"
words = u.split(' ')
string = []
for word in words:
  string.insert(0, word)
print("Reversed String: ")
print(" ".join(string))

Reversed String:
programming love i

In [ ]:
#23. Check if a string is alpanumeric

f = "Hello World"
f.isalnum()

False

In [ ]:
#24. Extract all digita from a string

o = "Buy 2 get 1 free"

for i in o:
  if(i.isdigit()):
    print(i,end="")

21

In [ ]:
#25. Extract all alphabets from a string

o = "Buy 2 get 1 free"

for i in o:
  if(i.isalpha()):
    print(i,end="")

Buygetfree

In [ ]:
#26. Count the number of uppercase letters in a string

f = 'Hello World'
upper = 0
for i in f:
  if(i.isupper()):
     upper+=1
print("The number of uppercase is: " , upper)

The number of uppercase is:  2

In [ ]:
#27. Count the number of lowercase letters in a string

f = "Hello World"
lower = 0
for i in f:
  if(i.islower()):
    lower+=1
print("The number of lower is: " , lower)

The number of lower is:  8

In [ ]:
#28. Swap the case of each character in a string

name = "Shailesh Singh"
print(name.swapcase())

sHAILESH sINGH

In [ ]:
#29. Remove a specific word from a string

my_string = "Hi! I! Love! Python!"
my_new_string = my_string.replace("!" , "")
print(my_new_string)

Hi I Love Python

In [ ]:
#30. Check if a string is a valid email address

import re
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    if re.match(pattern , email):
      return True
    else:
      return False
email1 = "sanyogita@gmail.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

In [ ]:
#31. Extract the username from the email address string

def extract_username(email):
    username = email.split('@')[0]
    return username
email = "sanyogita@gmail.com"
result = extract_username(email)
print(result)

sanyogita

In [ ]:
#32. Extract the domain name from an email address string

def extract_domain(email):
  domain = email.split('@')[1]
  return domain
email = "sanyogita@gmail.com"
result = extract_domain(email)
print(result)

gmail.com

In [ ]:
#33. Replace multiple spaces in a string with a single space

g2 = "The  fox  jumps     over a   log"
result = " ".join(g2.split())
print(repr(result))

'The fox jumps over a log'

In [ ]:
#34. Check if a string is a valid url

from urllib.parse import urlparse
def is_valid_url(url):
    try:
       result = urlparse(url)
       return all([result.scheme , result.netloc])
    except ValueError:
      return False
url1 = "htttps://www.IBPS.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

In [ ]:
#35. Extract the protocol (http or https)from a url string

def extract_protocol(url):
  protocol_end = url.find("://")

  if protocol_end != -1:
      protocol = url[:protocol_end]
      return protocol
  else:
     return None

url1 = "https://www.ibps.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:" , protocol1)
print("Protocol 2:" , protocol2)
print("Protocol 3:" , protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [ ]:
#36. Find the frequency of each character in a string

g1 = "Keep calm and confident"
all_freq = {}

for i in g1:
  if i in all_freq:
    all_freq[i] += 1
  else:
    all_freq[i] = 1
print("count of all characters in Keep calm and confident is :\n"  + str(all_freq))

count of all characters in Keep calm and confident is :
{'K': 1, 'e': 3, 'p': 1, ' ': 3, 'c': 2, 'a': 2, 'l': 1, 'm': 1, 'n': 3, 'd': 2, 'o': 1, 'f': 1, 'i': 1, 't': 1}

In [ ]:
#37. Remove all punctuation from a string

import string
test_str = "Hello! Welcome to India. Grad to see you here."
test_str = test_str.translate(str.maketrans('' , '' , string.punctuation))
print(test_str)

Hello Welcome to India Grad to see you here

In [ ]:
#38. Check if a string contains only digits

s1 = "sanyogita"
s1.isalnum()

True

In [ ]:
#39. Check if a string contains only alphabets

s1 = "sanyogita"
s1.isalpha()

True

In [ ]:
#40. Convert a string to a list of characters

s1 = "sanyogita"
print([*s1])

['s', 'a', 'n', 'y', 'o', 'g', 'i', 't', 'a']

In [ ]:
#41. Check if two strings are anagrams

def check(d1,d2):
  if(sorted(d1)== sorted(d2)):
    print("The strings are anagrams.")
  else:
    print("The strings aren't anagrams")
d1 = "listen"
d2 = "silent"
check(d1,d2)

The strings are anagrams.

In [ ]:
#42. Encode a string using a caesar cipher

def encrypt(text,s):
  result = ""
  for i in range(len(text)):
   char = text[i]
   if(char.isupper()):
    result += chr((ord(char) + s-65) % 26 +65)
   else:
    result += chr((ord(char) + s - 97) % 26 + 97)
  return result
text = "ATTACKATONCE"
s = 4
print("Text:" + text)
print("Shift:" + str(s))
print("Cipher:" + encrypt(text,s))

Text:ATTACKATONCE
Shift:4
Cipher:EXXEGOEXSRGI

In [ ]:
#43. Decode a caesar cipher encoded string

def caesar_cipher_decoder(text,shift):
  decoded_text = ""
  for char in text:
    if char.isalpha():
      decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
    else:
      decoded_char = char
    decoded_text += decoded_text
  return decoded_text
text = "lopp, zruog!"
shift = 3
decoded_text = caesar_cipher_decoder(text,shift)
print("Decoded text:" , decoded_text)

Decoded text:

In [ ]:
#44. Find the most frequent word in a string

from collections import defaultdict
test_list = ["hello world" , "How's the world","My father is my world"]
print("The original list is:" + str(test_list))
temp = defaultdict(int)
for sub in test_list:
  for wrd in sub.split():
    temp[wrd] += 1
res = max(temp, key=temp.get)
print("Word with maxmimum frequency:" + str(res))

The original list is:['hello world', "How's the world", 'My father is my world']
Word with maxmimum frequency:world

In [ ]:
#45. Find all unique words in a string

def printwords(l):
  for i in l:
    print(i)
str = "Keep calm Keep confident"
s = set(str.split(" "))
printwords(s)

Keep
confident
calm

In [ ]:
#46. Count the number of syllabus in a string

def count(word):
    new_word = word
    count_syllabus = new_word.split('-')
    return len(count_syllabus)
print(count("ho-tel"))

2

In [ ]:
#47. Check if a string contains any special characters

n = "Welcome@to%Jamshedpur"
n.split()
c = 0
v = '[@_!#$%^&*()<>?/\|{}~:]'
for i in range(len(n)):
 if n[i] in v:
  c+= 1
  if c:
    print("string is not accepted")
  else:
    print("string accepted")

string is not accepted
string is not accepted

In [ ]:
#48. Remove the nth word from a string

def omit(list1, word, n1):
  if not list1:
    return[]
  if list1[0] == word and n1 > 0:
      return omit(list1[1: ], word , n1-1)
  return [list1[0]] + omit(list1[1: ], word, n1)

list1 = ["he" , "is" , "ankit" , "is" , "raj" , "is" , "ankit raj"]
word = "is"
n1 = 3
print("new list is: " , omit(list1, word , n1))

new list is:  ['he', 'ankit', 'raj', 'ankit raj']

In [ ]:
#49. Insert a word at the nth position in a string
test_string = 'Best  Luck'
add_string = "of"
print("The original string: " + test_string)
print("The add string: " + add_string)
n = 5
res = test_string[ :n] + add_string + test_string[n: ]
print("the string after performing addition: "+ str(res))

The original string: Best  Luck
The add string: of
the string after performing addition: Best of Luck

In [ ]:
#50. Convert a CSV string to a list of lists

def csv_string_to_list(csv_string):
  lines = csv_string.split('/n')
  result = []
  for line in lines:
    fields = line.split(',')
    result.append(fields)
  return result
csv_data = "Name,Age,Country\nJohn,25,USA\nAlice,30,Canada\nBob,22,UK"
list_of_lists = csv_string_to_list(csv_data)
for row in list_of_lists:
  print(row)

['Name', 'Age', 'Country\nJohn', '25', 'USA\nAlice', '30', 'Canada\nBob', '22', 'UK']

In [ ]:
#TOPIC: List Based Practice Problem

In [ ]:
#1. Create a list if integers from 1 to 10

l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of the list without using a 'len()' funtion

test_list = [1,2,4,6,8]
print("The list is: " + str(test_list))
counter = 0
for i in test_list:
  counter = counter + 1
print("Length of list is: " + str(counter))

The list is: [1, 2, 4, 6, 8]
Length of list is: 5

In [ ]:
#3. Append an element to the end of a list

test_list = [1,2,4,6,8]
test_list.append(10)
print(test_list)

[1, 2, 4, 6, 8, 10]

In [ ]:
#4. Insert an element at a specific index in a list

test_list = [1,2,4,6,8,10]
test_list.insert(2,"even_no")
print(test_list)

[1, 2, 'even_no', 4, 6, 8, 10]

In [ ]:
#5. Remove an element from a list by its value

test_list = [1,2,4,6,8,10]
test_list.pop(2)

4

In [ ]:
#6. Remove an element from a list by its index

test_list = [1,2,4,6,8,10]
test_list.pop(2)

4

In [ ]:
#7. Check if an element exists in a list

lst = [3,5,7,9,11]
i = 2
if i in lst:
  print("exist")
else:
  print("doestn't exist")

doestn't exist

In [ ]:
#8. Find the index of the first occurrence of an element in a list

lst = [3,5,7,9,11]
lst.index(5)

1

In [ ]:
#9. Count the occurence of the element in a list

l1 = [3,5,7,9,11,3,3,3,8,9,11,11,5,5,5,5]
ele = 3
x = [i for i in l1 if i == ele]
print("the element" , ele , "occurs" , len(x) , "times")

the element 3 occurs 4 times

In [ ]:
#10. Reverse the order of elements in a list

lst = [3,5,7,9,11,"sanyogita","singh"]
lst.reverse()
print(lst)

['singh', 'sanyogita', 11, 9, 7, 5, 3]

In [ ]:
#.11 Sort a list in ascending order

lst = [5,9,1,7,3,0,6,2,9]
lst.sort()
print(lst)

[0, 1, 2, 3, 5, 6, 7, 9, 9]

In [ ]:
#12. Sort a list in descending order

lst = [5,9,1,7,3,0,6,2,9]
lst.sort(reverse = True)
print(lst)

[9, 9, 7, 6, 5, 3, 2, 1, 0]

In [ ]:
#13. Create a list of even numbers from 1-20

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lst:
  if i% 2 == 0:
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
#14. Create a list of odd numbers from 1-20

lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
for i in lst:
  if i% 2 == 0:
    pass
  else:
   print(i , end=" ")

1 3 5 7 9 11 13 15 17 19

In [ ]:
#15. Find the sum of all elements in a list

lst = [2,4,6,8,10,12,14,16]
def sumoflist(list, size):
 if(size == 0):
  return 0
 else:
  return list[size - 1] + sumoflist(list, size - 1)
total = sumoflist(lst, len(lst))
print("Sum of all elements ingiven list: " , total)

Sum of all elements ingiven list:  72

In [ ]:
#16. Find the max value in a list

l2 = [5,23,76,94,65,22,58]
max(l2)

94

In [ ]:
#17. Find the min value in a list

l2 = [5,23,76,94,65,22,58]
min(l2)

5

In [ ]:
#18. Create a list of squares of numbers from 1-20

l2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
import math
result = [int(math.pow(i,2)) for i in l2]
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
#19. Create a list of random numbers

import random
res = [random.randrange(1,50,1) for i in range(7)]
print("Random number list is: " + str(res))

Random number list is: [39, 20, 28, 48, 46, 13, 3]

In [ ]:
#20. Remove duplicates from a list

l2 = [4,6,2,8,5,6,2,9,6,4,2]
list(set(l2))

[2, 4, 5, 6, 8, 9]

In [ ]:
#21. Find the common elements between two lists

def intersection_list(list1, list2):
 list3 = [value for value in list1 if value in list2]
 return list3

list1 = [12,13,14,15,16,17,18,19]
list2 = [19,20,21,22,23,24,25,26]
print(intersection_list(list1,list2))

[19]

In [ ]:
#22. Find The difference between two lists

list1 = [10,20,30,40,50,60]
list2 = [70,80,90,100]
temp3 = []
for element in list1:
   if element not in list2:
     temp3.append(element)
print(temp3)

[10, 20, 30, 40, 50, 60]

In [ ]:
#23. Merge two lists

list1 = [10,20,30,40,50,60]
list2 = [70,80,90,100]
list1.extend(list2)
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
#24. Multiply all elements in a list by 2

list1 = [1,2,3,4,5,6,7]
list2 = [i * 2 for i in list1]
print(list2)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
#25. Filter out all even numbers from a list

list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [i for i in list1 if i % 2 == 0]
print(list2)

[2, 4, 6, 8, 10]

In [ ]:
#26. Convert a list of strings to a list of integers

list3 = ['4','7','3','9','5','3','2','9']
res = [eval(i) for i in list3]
print("list of integers: " , res)

list of integers:  [4, 7, 3, 9, 5, 3, 2, 9]

In [ ]:
#27. Convert a list of integers to a list of strings

list3 = [4,7,3,9,5,3,2,9]
list4 = [str(x) for x in list3]
print(list4)

['4', '7', '3', '9', '5', '3', '2', '9']

In [ ]:
#28. Flatten a nested list

l = [[11,22,33,44],[55,66,77,88],[99,110,111]]
flatlist = sum(l,[])
print('New list' , flatlist)

New list [11, 22, 33, 44, 55, 66, 77, 88, 99, 110, 111]

In [ ]:
#29. Create a list of the first 10 fibonacci numbers

def fibonacci(n):
  if(n <= 1):
    return n
  else:
    return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms: "))
print("Fibonacci sequence: ")
for i in range(9):
  print(fibonacci(i))

Enter number of terms: 7
Fibonacci sequence:
0
1
1
2
3
5
8
13
21

In [ ]:
#30. Check if a list is sorted

list = [1,2,3,4,5,6,7,8,9]
print("Original list: " + str(list))
flag = 0
if(list == sorted(list)):
  flag = 1
  if(flag):
    print("Yes,List is sorted.")
  else:
    print("No,List is not sorted.")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9]
Yes,List is sorted.

In [ ]:
#31. Rotate a list to the left by'n'

l = [3,5,7,9,11,13,15]
l = l[4: ] + l[ :4]
print("List after left rotate by 4: " + str(l))

List after left rotate by 4: [11, 13, 15, 3, 5, 7, 9]

In [ ]:
#32. Rotate a list to the right by 'n' positions

l = [11,13,15,3,5,7,9]
l = l[-3: ] + l[ :-3]
print("List after right rotate by 3(back to original): " + str(l))

List after right rotate by 3(back to original): [5, 7, 9, 11, 13, 15, 3]

In [ ]:
#33. Create a list of prime numbers

def is_primt(num):
  if num <= 1:
    return False
  if num <= 3:
    return True
  if num % 2 == 0 or num % 3 ==0:
    return False
  i = 5
  while i * i <= num:
    print(i,num)
    if num % i == 0 or num %(i + 2) == 0:
      return False
    i += 6
  return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:" , prime_numbers)

List of prime numbers up to 50: [2, 3]

In [ ]:
#34. Split a list into chunks of size 'n'

def sieve_of_eratosthenes(limit):
  primes = []
  is_prime = [True] * (limit + 1)
  is_prime[0] = is_prime[1] = False

  for num in range(2, int(limit ** 0.5) + 1):
    if is_prime[num]:
      primes.append(num)
      for multiple in range(num * num, limit + 1, num):
        is_prime[multiple] = False

  for num in range(int(limit ** 0.5) + 1, limit + 1):
    if is_prime[num]:
      primes.append(num)
  return primes
prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
#35. Find the second largest number in a list

my_list = [10,5,20,15,30,25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
  second_largest = sorted_list[-2]
  print("Second largest number:" , second_largest)
else:
  print("The list does not contain enough elements")

Second largest number: 25

In [ ]:
#36. Replace every element in a list with its square

my_list = [2,4,6,8,10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:" , squared_list)

Squared list: [4, 16, 36, 64, 100]

In [ ]:
#37. Convert a list to a dictonary where list elements become keys and their indices become values

my_list = ['apple','banana','blueberry','guava']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:" , my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'blueberry': 2, 'guava': 3}

In [ ]:
#38. Shuffle the elements of a list randomly

my_list = [1,2,3,4,5,6,7,8,9,10]
random.shuffle(my_list)
print("Shuffled list:" , my_list)

Shuffled list: [5, 4, 7, 1, 9, 8, 2, 10, 6, 3]

In [ ]:
#39. Create a list of the first 10 factorial numbers

def factorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of th efirst 10 factorial numbers:" , factorial_numbers)

List of th efirst 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
#40. Check if two lists have atleast two element in a common

def has_common_element(list1,list2):
  for item in list1:
    if item in list2:
      return True
  return False
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
if has_common_element(list1,list2):
  print("The lists have at least one common element")
else:
  print("The lists do not have any elements in common")

The lists have at least one common element

In [ ]:
#41. Remove all elements from a list

list = [2,4,6,8,10,12]
list.clear()
print("List after clear: " , list)

List after clear:  []

In [ ]:
#42. Replace all negative numbers in a list with 0

import numpy as np
ini_array1 = np.array([1,2,-3,4,-5,-6])
print("initial array" , ini_array1)
ini_array1 [ini_array1 < 0] = 0
print("New resulting array: " , ini_array1)

initial array [ 1  2 -3  4 -5 -6]
New resulting array:  [1 2 0 4 0 0]

In [ ]:
#43. Convert a string into a list of words

s = "Slow and steady wins the race"
x = [i for i in s]
print(x)

['S', 'l', 'o', 'w', ' ', 'a', 'n', 'd', ' ', 's', 't', 'e', 'a', 'd', 'y', ' ', 'w', 'i', 'n', 's', ' ', 't', 'h', 'e', ' ', 'r', 'a', 'c', 'e']

In [ ]:
#44. Convert a list of words into a string

word_list = ["Hello,","how","are","you?"]
my_string = " ".join(word_list)
print("Converted string:" , my_string)

Converted string: Hello, how are you?

In [ ]:
#45. Create a list of the list 'n' powers of 2

n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first" , n,"powers of 2:" , power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

In [ ]:
#46. Find the longest string in a list of strings

list = ['keep','calm','and','confident']
res = max(len(i) for i in list)
print("Length of minimum string: " + str(res))

Length of minimum string: 9

In [ ]:
#47. Find the shortest string in a list of strings

list = ['keep','calm','and','confident']
res = min(len(i) for i in list)
print("Length of minimum string: " + str(res))

Length of minimum string: 3

In [ ]:
#48. Create a list of the first 'n' triangular numbers

def triangular_series(n):
 for i in range(1, n +1):
    print(i*(i+1)//2,end = ' ')
n = 5
triangular_series(n)

1 3 6 10 15

In [ ]:
#49. Check if a list contains another list as a subsequence

lst = [[1,5,7],[2,3,4],[3,6,9]]
check_list = [2,3,4]
if check_list in lst:
  print("List is present")
else:
  print("List is not present")

List is present

In [ ]:
#50. Swap two elements in a list by their indices

def swapPositions(list, pos1, pos2):
  list[pos1], list[pos2] = list[pos2] , list[pos1]
  return list
list = [23, 65, 19, 90]
pos1, pos2 = 1,3
print(swapPositions(list, pos1-1, pos2-1))

[19, 65, 23, 90]

In [ ]:
##TOPIC: Tuple Based Practice Questions

In [ ]:
#1. Create a tuple with integers from 1 to 5

my_tuple = (10,20,30,40,50)
third_element = my_tuple[2]
print("The third element of the tuple is:" , third_element)

The third element of the tuple is: 30

In [ ]:
#2. Access the third element of a tuple

my_tuple = (10,20,30,40,50)
third_element = my_tuple[2]
print("The element of th tuple is:" , third_element)

The element of th tuple is: 30

In [ ]:
#3. Find the length of a tuple without using the 'len()' function

my_tuple = (10,20,30,40,50)
count = 0
for _ in my_tuple:
  count += 1
print("The length of the tuple is:" , count)

The length of the tuple is: 5

In [ ]:
#4. Count the occurences of an element in a tuple

my_tuple = (10,20,30,40,50)
element_to_count = 20
count = 0
for item in my_tuple:
  if item == element_to_count:
     count += 1
print("The element {element_to_count} appears {count} times in the tuple")

The element {element_to_count} appears {count} times in the tuple

In [ ]:
#5. Find the index of the first occurence of an element in a tuple

my_tuple = (10,20,30,40,50)
element_to_find = 20
index = -1
for i, item in enumerate(my_tuple):
   if item == element_to_find:
      index = i
      break
if index != -1:
  print(f"The first occurenceof {element_to_find} is at index {index}")
else:
  print(f"{element_to_find} is not found in the tuple")

The first occurenceof 20 is at index 1

In [ ]:
#6. Check if an element exists in a tuple

my_tuple = (10,20,30,40,50)
element_to_check = 30
if element_to_check in my_tuple:
  print(f"{element_to_check} exists in the tuple")
else:
 print(f"{element_to_check} does not exists in the tuple")

30 exists in the tuple

In [ ]:
#7. Convert a tuple to a list

my_tuple = (10,20,30,40,50)
my_list = list(my_tuple)
print("Tuple:" , my_tuple)
print("List:" , my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

In [ ]:
#8. Convert a list to a tuple

my_list = [10,20,30,40,50]
my_tuple = tuple(my_list)
print("List:" , my_list)
print("Tuple:" ,  my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [ ]:
#9. Unpack the elements of a tuple into variables

my_tuple = (10,20,30)
var1, var2, var3 = my_tuple
print("var1:" , var1)
print("var2:" , var2)
print("var3:" , var3)

var1: 10
var2: 20
var3: 30

In [ ]:
#10. Create a tuple of even numbers from 1 to 10

even_numbers_list = [num for num in range(2,11,2)]
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:" , even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10

even_numbers_list = [num for num in range(2,11,2)]
even_numbers_tuple = tuple(even_numbers_list)
print("Tuple of even numbers:" , even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [ ]:
#12. Concatenate two tuples

tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:" , concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
#13. Repeat a tuple 3 times

original_tuple = (1,2,3)
repeated_tuple = original_tuple * 3
print("Repeated tuple:" , repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#14. Check if a tuple is empty

empty_tuple = ()
non_empty_tuple = (1,2,3)
if not empty_tuple:
  print("The empty_tuple is empty")
else:
  print("The empty_tuple is not empty")
if not non_empty_tuple:
  print("The non_empty_tuple is empty")
else:
  print("The non_empty_tuple is not empty")

The empty_tuple is empty
The non_empty_tuple is not empty

In [ ]:
#15. Create a nested tuple

nested_tuple = ((1,2,3) , ('a','b','c') , (True,False,))
print("Nested tuple:" , nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [ ]:
#16. Access the first element of a nested tuple

nested_tuple = ((1,2,3) , ('a','b','c') , (True, False))
first_element = nested_tuple[0]
print("First element of the nested tuple:" , first_element)

First element of the nested tuple: (1, 2, 3)

In [ ]:
#17. Create a tuple with a single element

single_element_tuple = (42,)
print("Single element tuple:" , single_element_tuple)

Single element tuple: (42,)

In [ ]:
#18. Compare two tuples

tuple1 = (1,2,3)
tuple2 = (1,2,4)
print("tuple1 == tuple2:" , tuple1 == tuple2)
print("tuple1 != tuple2:" , tuple1 != tuple2)
print("tuple1 < tuple2:" , tuple1 < tuple2)
print("tuple1 <= tuple2:" , tuple1 <= tuple2)
print("tuple1 > tuple2:" , tuple1 > tuple2)
print("tuple1 >= tuple2:" , tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [ ]:
#19. Delete a tuple

my_tuple = (1,2,3,4,5)
del my_tuple
print(my_tuple)

NameError: ignored

In [ ]:
#20. Slice a tuple

my_tuple = (1,2,3,4,5,6,7,8,9,10)
sliced_tuple = my_tuple[2:6]
print("Sliced tuple:" , sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [ ]:
#21. Find the max value in a tuple

my_tuple = (10,20,5,45,30)
max_value = max(my_tuple)
print("Maximum value:" , max_value)

Maximum value: 45

In [ ]:
#22. Find the min value in a tuple

my_tuple =(10,20,5,45,30)
min_value = min(my_tuple)
print("Minimum value:" , min_value)

Minimum value: 5

In [ ]:
#23. Convert a string to a tuple of characters

my_string = "Hello, World!"
tuple_of_characters = tuple(my_string)
print("Tuple of characters:" , tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [ ]:
#24. Convert a tuple of characters to a string

tuple_of_characters = ('H','e','l','l','o',' ','W','o','r','l','d')
string_from_tuple = ''.join(tuple_of_characters)
print("String from tuple:" , string_from_tuple)

String from tuple: Hello World

In [ ]:
#25. Create a tuple from multiple data types

mixed_tuple = (1, "hello", 3.14,True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [ ]:
#26. Check if two tuples are identical

tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (4,5,6)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3
print("tuple1 and tuple2 are identical:" , are_identical1)
print("tuple1 and tuple3 are identical:" , are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

In [ ]:
#27. Sort the elements of a tuple

my_tuple = (5,2,8,1,3)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted tuple:" , sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

In [ ]:
#28. Convert a tuple of integers to a tuple of strings

tuple_of_integers = (1,2,3,4,5)
tuple_of_strings = tuple(str(item for item in tuple_of_integers))
print("Tuple of strings:" , tuple_of_strings)

Tuple of strings: ('<', 'g', 'e', 'n', 'e', 'r', 'a', 't', 'o', 'r', ' ', 'o', 'b', 'j', 'e', 'c', 't', ' ', '<', 'g', 'e', 'n', 'e', 'x', 'p', 'r', '>', ' ', 'a', 't', ' ', '0', 'x', '7', 'f', '6', '5', '0', '7', 'a', '7', '4', '1', '2', '0', '>')

In [ ]:
#29. Convert a tuple of strings to a tuple of integers

tuple_of_strings = ('1', '2', '3', '4', '5')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("Tuple of integers:" , tuple_of_integers)

Tuple of integers: (1, 2, 3, 4, 5)

In [ ]:
#30. Merge two tuples

tuple1 = (1,2,3)
tuple2 = (4,5,6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:" , merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
#31. Flatten a nested tuple

def flatten_tuple(nested_tuple):
  flattened = []
  for item in nested_tuple:
    if isinstance(item, tuple):
      flattened.extend(flatten_tuple(item))
    else:
      flattened.append(item)
  return flattened
nested_tuple = ((1,2),(3,4,5),(6,(7,8)))
flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:" , flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#32. Create a tuple of the first 5 prime numbers

def is_primt(num):
  if num <= 1:
     return False
  for i in range(2, int(num ** 0.5) + 1 ):
      if num %i == 0:
           return False
  return True
prime_numbers_list = [num for num in range(2,100) if is_primt(num)][:5]
prime_numbers_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime numbers:" , prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [ ]:
#33. Check if a tuple is a palindrome

def is_palindrome(tup):
  return tup == tup[::-1]
palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,4,5)
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)
print("palindrome_tuple is a palindrome:" , is_palindrome1)
print("non_palindrome_tuple is a palindrome:" , is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5

squares_tuple = tuple(x ** 2 for x in range(1,6))
print("Tuple of squares:" , squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [ ]:
#35. Filter out all even numbers from a tuple

original_tuple = (1,2,3,4,5,6,7,8,9,10)
filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:" , filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

In [ ]:
#36. Multiply all elements in a tuple by 2

original_tuple = (1,2,3,4,5)
doubled_tuple = tuple(num* 2 for num in original_tuple)
print("Doubled tuple:" , doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [ ]:
#37. Create a tuple of random numbers

import random
random_tuple = tuple(random.randint(1,100) for _ in range(10))
print("Random tuple:" , random_tuple)

Random tuple: (55, 56, 51, 33, 40, 91, 57, 25, 99, 87)

In [ ]:
#38. Check if a tuple is sorted

def is_sorted(tup):
  for i in range(len(tup) - 1):
    if tup[i] > tup[i + 1]:
        return False
  return True
sorted_tuple = (1,2,3,4,5)
unsorted_tuple = (5,3,1,4,2)
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:" , is_sorted1)
print("unsorted_tuple is sortd:" , is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sortd: False

In [ ]:
#39. Rotate a tuple to the left by 'n' positions

def rotate_tuple_left(tup, n):
    n = n % len(tup)
    rotated_tuple = tup[n:] + tup[:n]
    return rotated_tuple
my_tuple = (1,2,3,4,5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by 'n' positions

def rotate_tuple_right(tup, n):
   n = n % len(tup)
   rotated_tuple = tup[-n:] + tup[:-n]
   return rotated_tuple
my_tuple = (1,2,3,4,5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [ ]:
#41. Create a tuple of the first 5 fabonacci numbers

def generate_fibonacci(n):
  fibonacci = [0,1]
  while len(fibonacci) < n:
    next_number = fibonacci[-1] + fibonacci[-2]
    fibonacci.append(next_number)
  return tuple(fibonacci)
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [ ]:
#42. Create a tuple from user input

input_str = input("Enter elements separated by commas:")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:" , user_tuple)

Enter elements separated by commas:s,a,n,y,o,gi,t,a, ,s,i,n,g,h
User input tuple: ('s', 'a', 'n', 'y', 'o', 'gi', 't', 'a', ' ', 's', 'i', 'n', 'g', 'h')

In [ ]:
#43. Swap two elements in a tuple

my_tuple = (1,2,3,4,5)
index1 = 1
index2 = 3
swapped_tuple = tuple(my_tuple[i] if i not in (index1, index2) else my_tuple[index2] if i == index1 else my_tuple[index1] for i in range(len(my_tuple)))
print("Swapped tuple:" , swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [ ]:
#44. Reverse the elements of a tuple

my_tuple = (1,2,3,4,5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:" , reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [ ]:
#45. Create a tuple of the first 'n' powers 2

n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first" ,n,"powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [ ]:
#46. Findest the longest string in a tuple of strings

string_tuple = ("sanyogita","arun","manan","shailesh")
longest_string = max(string_tuple,key=len)
print("Longest string:" , longest_string)

Longest string: sanyogita

In [ ]:
#47. Find the shortest string in a tuple of strings

string_tuple = ("sanyogita" , "manan" , "shailesh" , "arun")
shortest_string = min(string_tuple , key=len)
print("Shortest string:" , shortest_string)

Shortest string: arun

In [ ]:
#48. Create a tuple of the first 'n' triangular numbers

def triangular_series(n):
  j = 1
  k = 1
  for i in range(1,n +1):
    print(k,end = ' ')
    j = j + 1
    k = k + j
n = 5
triangular_series(n)

1 3 6 10 15

In [ ]:
#49. Check if a tuple contains another tuple as sebsequence

def contains_subsequence(main_tuple , sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
       if main_tuple[i:i+sub_length] == sub_tuple:
          return True
    return False
main_tuple = (1,2,3,4,5,6,7,8,9)
sub_tuple = (3,4,5)
contains_subseq = contains_subsequence(main_tuple , sub_tuple)
print("Main tuple contains contains subsequence tuple:" , contains_subseq)

Main tuple contains contains subsequence tuple: True

In [ ]:
#50. Create a tuple of alternating 1s and 0s of length 'n'

n = 10
alternating_tuple = tuple(i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:" , alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
#TOPIC: Set Based Pratice Problems

In [ ]:
#1. Create a set with integers from 1 to 5

set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [ ]:
#2. Add an element to a set

set = {1,2,3,4,6}
set.add(5)
print("final: " , set)

final:  {1, 2, 3, 4, 5, 6}

In [ ]:
#3. Remove an element from a set

set = {1,2,3,4,5,6,9}
set.remove(9)
print(set)

{1, 2, 3, 4, 5, 6}

In [ ]:
#4. Check if an element exists in a set

set = {1,2,3,4,5,6,7,8,9}
print(2 in set)

True

In [ ]:
#5. Find the length of a set without using the 'len()' funtion

my_set = {1,2,3,4,5}
count = 0
for _ in my_set:
  count += 1
print("Length of the set:" , count)

Length of the set: 1
Length of the set: 2
Length of the set: 3
Length of the set: 4
Length of the set: 5

In [ ]:
#6. Clear all elements from a set

my_set = {1,2,3,4,5}
print("Original set:" , my_set)
my_set.clear()
print("Set after clearing:" , my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [ ]:
#7. Create a set of even numbers from 1 to 10

even_numbers_set = set()
for num in range(1,11):
  if num %2 == 0:
    even_numbers_set.add(num)
print(even_numbers_set)

{2, 4, 6, 8, 10}

In [ ]:
#8. Create a set of odd numbers from 1 to 10

odd_numbers_set = set()
for num in range(1,11):
  if num %2 != 0:
    odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
union_result = set1.union(set2)
print("Set 1:" , set1)
print("Set 2:" , set2)
print("Union of set 1 and set 2:" , union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of set 1 and set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#10. Find the intersection of two sets

set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
intersection_result = set.intersection(set2)
print("Set 1:" , set1)
print("Set 2:" , set2)
print("Intersection:" , intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5, 6, 7}

In [ ]:
#11. Find the difference between two sets

set1 = {1,2,3,4,5}
set2 = {3,4,5,6,7}
difference_set = set1.difference(set2)
print("Set 1:" , set1)
print("Set 2:" , set2)
print("Difference:" , difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [ ]:
#12. Check if a set is a subset of another set

set1 = {1,2,3}
set2 = {1,2,3,4,5}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:" , is_subset)

Is set1 a subset of set2: True

In [ ]:
#13. Check if a set is a superset of another set

set1 = {1,2,3,4,5,6}
set2 = {3,4}
is_superset = set1.issuperset(set2)
if is_superset:
  print("set1 is a supersetof set2")
else:
  print("set1 is not a superset of set2")

set1 is a supersetof set2

In [ ]:
#14. Create a set from a list

my_list = [2,4,1,4,3,2,5]
my_set = set(my_list)
print("Original List:" , my_list)
print("Set from List:" , my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [ ]:
#15. Convert a set to a list

my_set = {3,1,4,1,5,9,2,6,5}
my_list = list(my_set)
print("Original Set:" , my_set)
print("Converted List:" , my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [ ]:
#16. Remove a random element from a set

import random
my_set = {1,2,3,4,5}
print("Original set:" , my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing:" , random_element , ":" , my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing: 4 : {1, 2, 3, 5}

In [ ]:
#17. Pop  an element from a set

my_set = {1,2,3,4,5}
print("Original set:" , my_set)
popped_element = my_set.pop()
print("Popped element:" , popped_element)
print("Set after popping:" , my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [ ]:
#18. Check if two sets have no elements in

set1 = {1,2,3,4}
set2 = {5,6,7,8}
common_elements = set1.intersection(set2)
if not common_elements:
  print("The two sets have no elements in common")
else:
  print("The two sets have common elements:" , common_elements)

The two sets have no elements in common

In [ ]:
#19. Find the symmetric difference between two sets

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:" , symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [ ]:
#20. Update a set with elements from another set

set1 = {1,2,3}
print("Set 1:" , set1)
set2 = {3,4,5}
print("Set 2:" , set2)
set1.update(set2)
print("Updated Set 1:" , set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [ ]:
#21. Create a set of the first 5 prime numbers

def isPrime(n):
  if(n == 1 or n == 0):
    return False
  for i in range(2,n):
    if(n % i== 0):
      return False
  return True
N = 100;
for i in range(1,N+1):
  if(isPrime(i)):
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#22. Check if two sets are identical

set1 = {1,2,3,4,5}
set2 = {3,1,5,2,4}
if set1 == set2:
  print("The sets are identical")
else:
  print("The sets are not identical")

The sets are identical

In [ ]:
#23. Create a frozen set

elements = [1,2,3,4,5]
my_frozen_set = frozenset(elements)
print("Frozen Set:" , my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [ ]:
#24. Check if a set is disjoint with another set

set1 = {1,2,3,4}
set2 = {5,6,7,8}
disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?" , disjoint_status)

Are the sets disjoint? True

In [ ]:
#25. Create a set of squares of numbers from 1 to 5

squares_set = set()
for num in range(1,6):
  square = num ** 2
  squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

In [ ]:
#26. Filter out all even numbers from a set

original_set = {1,2,3,4,5}
even_numbers_set = set()
for num in original_set:
  if num %2 == 0:
    even_numbers_set.add(num)
print("Original Set:" , original_set)
print("Even Numbers Set:" , even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

In [ ]:
#27. Multiply all elements in a set by 2

original_set = {1,2,3,4,5}
multiplied_set = set()
for num in original_set:
  multiplied_num = num * 2
  multiplied_set.add(multiplied_num)
print("Original Set:" , original_set)
print("Multiplied Set:" , multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

In [ ]:
#28. Create a set of random numbers

import random
num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
  random_num = random.randint(1,100)
  random_number_set.add(random_num)
print("Generated set of random numbers:" , random_number_set)

Generated set of random numbers: {67, 7, 82, 56, 89}

In [ ]:
#29. Check if a set is empty

my_set = set()
if not my_set:
  print("The set is empty")
else:
  print("The set is not empty")

The set is empty

In [ ]:
#30. Ceate a nested set

set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1 , frozen_set2}
print("Nested Set:" , nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [ ]:
#31. Remove an elements from a set using the discard method

my_set = {1,2,3,4,5}
print("Initial set:" , my_set)
element_to_remove = 3
my_set.discard(element_to_remove)
print("Set after removing" , element_to_remove,":" , my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [ ]:
#32. Compare two sets

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)
print("Set 1:" , set1)
print("Set 2:" , set2)
print("Is set1 a subset of set2?" , is_subset)
print("Is set2 a subset of set1?" , is_superset)
print("Intersection:" , intersection)
print("Union:" , union)
print("Elements in set1 but not in set2:" , difference1)
print("Elements in set2  but not in set1" , difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2  but not in set1 {8, 6, 7}

In [ ]:
#33. Create a set from a string

input_string = "sanyogita"
char_set = set(input_string)
print(char_set)

{'t', 'o', 'n', 'a', 'y', 'i', 'g', 's'}

In [ ]:
#34. Convert a set of strings to a set of integers

string_set = {"123" , "456" , "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original string set:" , string_set)
print("Converted integer set:" , integer_set)

Original string set: {'123', '789', '456'}
Converted integer set: {456, 123, 789}

In [ ]:
#35. Convert a set of integers to a set of strings

integers_set = {1,2,3,4,5}
strings_set = set()
for num in integers_set:
   num_str = str(num)
   strings_set.add(num_str)
print("Original integers_set:" , integers_set)
print("Converted strings_set:" , strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'3', '2', '4', '1', '5'}

In [ ]:
#36. Create a set from a

input_tuple = (1,2,3,2,4,5,1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

In [ ]:
#37. Convert a set to a tuple

input_set = {1,2,3,4,5}
output_tuple = tuple(input_set)
print("Original set:" , input_set)
print("Converted tuple:" , output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

In [ ]:
#38. Find the max value in a set

my_set = {15,7,22,13,8}
max_value = None
for num in my_set:
  if max_value is None or num < max_value:
    max_value = num
print("Maximum value:" , max_value)

Maximum value: 7

In [ ]:
#39. Find the min value in a set

number_set = {15,8,23,4,42,11}
min_value = None
for num in number_set:
  if min_value is None or num < min_value:
     min_value = num
print("The minimum value in the set is:" , min_value)

The minimum value in the set is: 4

In [ ]:
#40. Create a set from user input

user_set = set()
print("Enter elements for the set(type 'done' to finish):")
while True:
  user_input = input("<")
  if user_input.lower() == 'done':
     break
  user_set.add(user_input)
print("Final set:" , user_set)

Enter elements for the set(type 'done' to finish):
<sanyogita
<arun
<shailesh
<manan
<done
Final set: {'sanyogita', 'arun', 'shailesh', 'manan'}

In [ ]:
#41. Check if the intersection of two sets is empty

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

intersection_result = set1.intersection(set2)
if not intersection_result:
  print("The intersection of the two sets is empty")
else:
  print("The intersection of the two sets is not empty")

The intersection of the two sets is not empty

In [ ]:
#42. Create a set of the first 5 fibonacci numbers

fibonacci_set = set()
a,b = 0,1
for _ in range(6):
   fibonacci_set.add(a)
   a,b = b , a + b
print("Set of the first 5 fibonacci numbers:" , fibonacci_set)

Set of the first 5 fibonacci numbers: {0, 1, 2, 3, 5}

In [ ]:
#43. Remove duplicates from a list using sets

original_list = [2,4,6,8,4,10,6,12,14,8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:" , original_list)
print("List with duplicates rempved:" , unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with duplicates rempved: [2, 4, 6, 8, 10, 12, 14]

In [ ]:
#44. Check if two sets have the same elements, regardless of their count

def have_same_elements(set1, set2):
  sorted_list1 = sorted(list(set1))
  sorted_list2 = sorted(list(set2))
  return sorted_list1 == sorted_list2

set1 = {1,2,3,2,1}
set2 = {3,1,2}
result = have_same_elements(set1, set2)

if result:
  print("The set have the same elements")
else:
  print("The sets do not have the same elements")

The set have the same elements

In [ ]:
#45. Create a set of the first 'n' powers of 2

def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
       power = 2 ** i
       powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

In [ ]:
#46. Find the commom elements between a set and a list

my_set = {3,7,9,12,15}
my_list = {7,12,5,9}
list_to_set = set(my_set)
common_elements = []

for element in my_set:
  if element in list_to_set:
    common_elements.append(element)
print("Common elements:" , common_elements)

Common elements: [3, 7, 9, 12, 15]

In [ ]:
#47.Create a set of the first 'n' triangular numbers

def isTriangular(num):
 if(num < 0):
  return False
 sum, n = 0, 1
 while(sum <= num):
   sum = sum + n
   if(sum == num):
     return True
   n += 1
   return False
n = 55
if(isTriangular(n)):
  print("The number is a triangular number")
else:
  print("The number is not a triangular number")

The number is not a triangular number

In [ ]:
#48. Check if a set contains another set as a subset

s1 = {1,2,3,4,5}
s2 = {4,5}
print(s2.issubset(s1))

True

In [ ]:
#49. Create a set of alternating 1s and 0s of length 'n'

count_1 = 4
count_0 = 3
size = 14
test_list = [1 if i % (count_1 + count_0) < count_1
             else 0 for i in range(size)]
print("The list after initializing: " + str(test_list))

The list after initializing: [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0]

In [ ]:
#50. Merge multiple sets into one

from itertools import chain
test_list = [{1,2,3,4},{5,6,7,8},{9,10,11,12},{13,14,15,16}]
print("The original list is: " + str(test_list))
res = set(chain(*test_list))
print("Multiple set union: " + str(res))

The original list is: [{1, 2, 3, 4}, {8, 5, 6, 7}, {9, 10, 11, 12}, {16, 13, 14, 15}]
Multiple set union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16}